
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
   
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-static-top" th:fragment="header">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Web Cold</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#" th:href="@{/pedido}">Pedido</a></li>
            <li><a href="#" th:href="@{/message}">Cliente</a></li>
            <li><a href="#" th:href="@{/task}">Técnico</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>