<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <link type="text/css" th:href="@{/resources/bootstrap/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script type="text/javascript" th:src="@{/resources/bootstrap/js/bootstrap.min.js}"></script>
    <title>Spring Framework Guru</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<h1>Hello</h1>
 
<h2>Fellow Spring Framework Gurus!!!</h2>
</body>
</html>