<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" th:href="@{/resources/bootstrap/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script type="text/javascript" th:src="@{/resources/bootstrap/js/bootstrap.min.js}"></script>
    <title>Web Cold</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>
            Técnico - Lista  <small><a th:href="@{/tecnico/new}">Incluir</a></small>
        </h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Telefone</th>
              <th>Ativo?</th>
              <th>Editar</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="tecnico : ${tecnicos}">
              <td th:text="${tecnico.nome}"></td>
              <td th:text="${tecnico.telefone}"></td>
              <td th:text="${tecnico.fgAtivoStr}"></td>
              <td><a th:href="@{/tecnico/edit/}+${tecnico.id}">Editar</a></td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <p class="text-right bold">Desenvolvido por: <strong>Grupo</strong></p>
    </div>
</div>
</body>
</html>